{% extends 'base.html.twig' %}


{% block body %}
    <div>
        {{ souscategorie.nom }}
    </div>
    <hr>
    {% for produit in souscategorie.produits %}
        <div>
            {{ produit.nom }}
            {{ produit.prix }}

        </div>
    {% endfor %}
{% endblock %}
